.btn_h{
    border-color: black;
    background-color: red;
    color: aliceblue;
    border-radius: 0rem 50rem 50rem 0rem;
    font-weight: 500;
}

.barras{
    border-radius: 50rem 0rem 0rem 50rem;
    margin-top: 4rem;
    margin-left: 35.2rem;
    
}

.img1{
    margin-left: 12rem;
}

.img2{
    margin-left: 12rem;
}

.title1{
    margin-left: 35rem;
    margin-top: 3rem;
    font-size: 3rem;
    color: red;
}

.sub{
    margin-left: 36.5rem; 
    font-weight: 600;
}